[Unit]
Description=Bulb energy prometheus exporter
Wants=network-online.target
After=network-online.target

[Service]
User=ubuntu
ExecStart=docker run -e SMARTTHINGS_API_TOKEN="TOKEN" -p 8023:8023 iwishiwasaneagle/bulb-energy-prometheus:latest

[Install]
WantedBy=default.target
